In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [13]:
df = pd.read_csv(r'../data/games.csv')
details_df = pd.read_csv(r'../data/games_details.csv')

In [11]:
df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-03-01,21900895,Final,1610612766,1610612749,2019,1610612766,85.0,0.354,0.900,...,22.0,47.0,1610612749,93.0,0.402,0.762,0.226,20.0,61.0,0
1,2020-03-01,21900896,Final,1610612750,1610612742,2019,1610612750,91.0,0.364,0.400,...,19.0,57.0,1610612742,111.0,0.468,0.632,0.275,28.0,56.0,0
2,2020-03-01,21900897,Final,1610612746,1610612755,2019,1610612746,136.0,0.592,0.805,...,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
3,2020-03-01,21900898,Final,1610612743,1610612761,2019,1610612743,133.0,0.566,0.700,...,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
4,2020-03-01,21900899,Final,1610612758,1610612765,2019,1610612758,106.0,0.407,0.885,...,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23195 entries, 0 to 23194
Data columns (total 21 columns):
GAME_DATE_EST       23195 non-null object
GAME_ID             23195 non-null int64
GAME_STATUS_TEXT    23195 non-null object
HOME_TEAM_ID        23195 non-null int64
VISITOR_TEAM_ID     23195 non-null int64
SEASON              23195 non-null int64
TEAM_ID_home        23195 non-null int64
PTS_home            23096 non-null float64
FG_PCT_home         23096 non-null float64
FT_PCT_home         23096 non-null float64
FG3_PCT_home        23096 non-null float64
AST_home            23096 non-null float64
REB_home            23096 non-null float64
TEAM_ID_away        23195 non-null int64
PTS_away            23096 non-null float64
FG_PCT_away         23096 non-null float64
FT_PCT_away         23096 non-null float64
FG3_PCT_away        23096 non-null float64
AST_away            23096 non-null float64
REB_away            23096 non-null float64
HOME_TEAM_WINS      23195 non-null int64
dtypes: float64(12), int64(7), object(2)
memory usage: 3.7+ MB

- about 100 missing values for games in 2003, consider dropping rows

In [14]:
details_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,21900895,1610612749,MIL,Milwaukee,202083,Wesley Matthews,F,NaN,27:08,3.0,...,4.0,4.0,8.0,2.0,2.0,0.0,0.0,0.0,8.0,11.0
1,21900895,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,NaN,34:55,17.0,...,2.0,18.0,20.0,6.0,1.0,0.0,3.0,2.0,41.0,22.0
2,21900895,1610612749,MIL,Milwaukee,201572,Brook Lopez,C,NaN,26:25,4.0,...,2.0,5.0,7.0,0.0,0.0,3.0,0.0,2.0,16.0,16.0
3,21900895,1610612749,MIL,Milwaukee,1628978,Donte DiVincenzo,G,NaN,27:35,1.0,...,1.0,6.0,7.0,5.0,0.0,1.0,2.0,0.0,2.0,14.0
4,21900895,1610612749,MIL,Milwaukee,202339,Eric Bledsoe,G,NaN,22:17,2.0,...,1.0,0.0,1.0,2.0,1.0,0.0,3.0,2.0,4.0,6.0

In [15]:
details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576782 entries, 0 to 576781
Data columns (total 28 columns):
GAME_ID              576782 non-null int64
TEAM_ID              576782 non-null int64
TEAM_ABBREVIATION    576782 non-null object
TEAM_CITY            576782 non-null object
PLAYER_ID            576782 non-null int64
PLAYER_NAME          576782 non-null object
START_POSITION       221374 non-null object
COMMENT              92260 non-null object
MIN                  484521 non-null object
FGM                  484521 non-null float64
FGA                  484521 non-null float64
FG_PCT               484521 non-null float64
FG3M                 484521 non-null float64
FG3A                 484521 non-null float64
FG3_PCT              484521 non-null float64
FTM                  484521 non-null float64
FTA                  484521 non-null float64
FT_PCT               484521 non-null float64
OREB                 484521 non-null float64
DREB                 484521 non-null float64
REB                  484521 non-null float64
AST                  484521 non-null float64
STL                  484521 non-null float64
BLK                  484521 non-null float64
TO                   484521 non-null float64
PF                   484521 non-null float64
PTS                  484521 non-null float64
PLUS_MINUS           460860 non-null float64
dtypes: float64(19), int64(3), object(6)
memory usage: 123.2+ MB

- almost 100k nan values due to listed players that did not play and therefore have no stats. planning to drop

## approach, for now anyway


consider grouping game details metrics for [these values](https://i.imgur.com/WqiiDfg.png) and also adding to main table

- join to main with something like 
    - pd.merge(main_df, details_df, on=['game_id','home_team_id'], suffixes='_home') 
    - pd.merge(main_df, details_df, on=['game_id','away_team_id'], suffixes='_away') 
- group by game id (and team_id?????) to create columns for both maybe thisll work
    - [reference](https://jamesrledoux.com/code/group-by-aggregate-pandas)
    - details_df.groupby(['game_id', 'team_id'])                                            #.agg({'Age': ['mean', 'min', 'max']}) - multi aggregation optino - I think this might be tedious for my case with so many features. Instead I'll try to do one df for sum and another for mean and grab what I need from each
        - sum_details_df = details_df.groupby(['game_id', 'team_id']).sum()
        - mean_details_df = details_df.groupby(['game_id', 'team_id']).mean()
    - may need to do something about indexes, either reset or move shit around so I can make the join
    - home team
        - sum of fga - field goal attempts to understand context as denominator
        - mean fielg goal pct
        - sum of free throw attempts for context
        - mean free throw pct
        - sum of three point shot attempts - context
        - sum of off rebound
        - sum of def rebound
        - sum of steals
        - sum of blocks
        - sum of turn overs
        - sum of personal fouls
        - max points??? to show the highest single player point contributer?
        - max assist??? to show the highest single player assist contributer?
    - away team
        - sum of fga - field goal attempts to understand context as denominator
        - mean fielg goal pct
        - sum of free throw attempts for context
        - mean free throw pct
        - sum of three point shot attempts - context
        - sum of off rebound
        - sum of def rebound
        - sum of steals
        - sum of blocks
        - sum of turn overs
        - sum of personal fouls
        - max points??? to show the highest single player point contributer?
        - max assist??? to show the highest single player assist contributer?

        

if time allows I'd love to learn more about this and incorporate it in some way

https://fivethirtyeight.com/features/how-our-raptor-metric-works/

consider grouping modern and historical estimates of raptor metrics for average by team and joining home and away metrics to main table

- "RAPTOR is a plus-minus statistic that measures the number of points a player contributes to his teamâ€™s offense and defense per 100 possessions, relative to a league-average player"
- "RAPTOR does not account for coaching, systems or synergies between teammates"
- "RAPTOR ratings for players with at least 1,000 minutes played in a season"